<%
/*
 * 默认布局文件
 * @param title 页面标题
 * @param bodyClass body标签的class内容
 * @param libs 要引用的js或css类库
 */
%>
<% print('<'+'!DOC'+'TYPE html'+'>');%>
<% print('<'+'html'+'><'+'head'+'>');%>
<% include('/include/head.html', {title: title!}){}%>
<% include('/include/csslibs.html', {libs: libs!}){}%>
</head><body class="hold-transition ${bodyClass!}">
<% if (!inArrayString('layout', libs!)){ %>
<div class="wrapper">${layoutContent}</div>
<% }else{ %>
	${layoutContent}
<% }%>

<% include('/include/jslibs.html', {libs: libs!}){} %>

</body>
</html>