<!DOCTYPE html>
<html>
<head>
    <%
    var productName = @Global.getProperty('productName') + ' ' + @Global.getProperty('version');
    var pageTitle = (isNotBlank(title!) ? title! + ' - ' : '') + productName;
    %>
    <meta charset="utf-8">
    <meta content="webkit" name="renderer"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta name="keywords" content="JSite"/>
    <meta name="description" content="JSite"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/><meta http-equiv="Expires" content="0"/>
    <meta content="width=device-width, initial-scale=1, user-scalable=1" name="viewport"/>
    <meta content="${productName} - Powered By jsite.org.cn" name="description"/>
    <meta content="JSite http://jsite.org.cn/" name="author"/>
    <title>${pageTitle}</title>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]><script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->


    <script src="${ctxStatic}/jquery/jquery-1.12.4.min.js"></script>
    <script src="${ctxStatic}/jquery/jquery-migrate-1.4.1.min.js"></script>
    <script type="text/javascript">
        var ctx = "${ctx}";
        var ctxStatic = "${ctxStatic}";
        var flow = "${flow}";
    </script>
    <% include('/include/csslibs.html', {libs: libs!}){} %>
</head>
<body class="hold-transition ${bodyClass!}">
<% if (!inArrayString('layout', libs!)){ %>
    <div class="wrapper">
        ${layoutContent}
    </div>
<% }else{ %>
	${layoutContent}
<% }%>

<% include('/include/jslibs.html', {libs: libs!}){} %>
</body>
</html>