
<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header-wrapper">
            	<div class="modal-header">
            		<h2>演示模式</h2>
            	</div>
            </div>
            <div class="modal-body">
                <p>
                    <i class="glyphicon glyphicon-info-sign"></i>
                     当前处于演示模式,禁止通过导入启动流程，个人需要可以通过切换jsite-flowable/src/main/resources/static/modler/scripts/controllers/processes.js中119行的importProcess()方法中的正常模式。
                </p>
            </div>
        </div>
    </div>
</div>
