<link rel="stylesheet" href="${ctxStatic}/adminLTE/Ionicons/css/ionicons.min.css">
<link rel="stylesheet" href="${ctxStatic}/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="${ctxStatic}/adminLTE/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="${ctxStatic}/jquery-toastr/toastr.min.css">
<% if (inArrayString('login', libs!)){ %>
<link rel="stylesheet" href="${ctxStatic}/iCheck/square/blue.css">
<link rel="stylesheet" href="${ctxStatic}/modules/sys/login.css">
<link rel="stylesheet" href="${ctxStatic}/jquery-validation/1.16/jquery.validate.css">
<% } %>
<% if (inArrayString('zTree', libs!)){ %>
<link rel="stylesheet" href="${ctxStatic}/jquery-ztree/3.5/css/metro/zTreeStyle.css">
<% } %>
<% if (inArrayString('tabPage', libs!)){ %>
<link rel="stylesheet" href="${ctxStatic}/wdScrollTab/css/TabPanel.css">
<% } %>
<% if (inArrayString('dataGrid', libs!)){ %>
<link rel="stylesheet" href="${ctxStatic}/jqGrid/4.7/css/ui.jqgrid.css">
<% } %>
<% if (inArrayString('layout', libs!)){ %>
<link rel="stylesheet" href="${ctxStatic}/jquery-plugin/jquery.layout-latest.css">
<% } %>
<% if (inArrayString('fileupload', libs!)){ %>
<link rel="stylesheet" href="${ctxStatic}/webuploader/0.1.8/webuploader.css">
<link rel="stylesheet" href="${ctxStatic}/modules/fileupload/fileupload.css">
<% } %>
<% if (inArrayString('cropper', libs!)){ %>
<link rel="stylesheet" href="${ctxStatic}/cropper/3.1.3/cropper.css">
<% } %>
<% if (inArrayString('icheck', libs!)){ %>
<link rel="stylesheet" href="${ctxStatic}/iCheck/minimal/grey.css">
<link rel="stylesheet" href="${ctxStatic}/select2/4.0/select2.css">
<% } %>
<% if (inArrayString('icon-select', libs!)){ %>
<link rel="stylesheet" href="${ctxStatic}/adminLTE/font-awesome/css/icon-select.css">
<% } %>
<% if (inArrayString('diagramviewer', libs!)){ %>
<link type="text/css" rel="stylesheet" href="${ctxStatic}/diagram-viewer/jquery.qtip.min.css" />
<link type="text/css" rel="stylesheet" href="${ctxStatic}/diagram-viewer/jquery.growl.css" />
<link type="text/css" rel="stylesheet" href="${ctxStatic}/diagram-viewer/jquery-confirm.min.css" />
<link type="text/css" rel="stylesheet" href="${ctxStatic}/diagram-viewer/displaymodel.css" />
<% } %>
<link rel="stylesheet" href="${ctxStatic}/adminLTE/css/AdminLTE.css">
<link rel="stylesheet" href="${ctxStatic}/common/jsite.css">