<% var defaultUrl =@DictUtils.getDictValue('默认头像','default_headphoto_small','images/userinfo.jpg'); %>
<section class="sidebar">
	<div class="user-panel">
		<div class="pull-left image">
			<img data-href="/sys/user/info" data-title="个人中心" class="addTabPage img-circle"
				src="${@user.getPhoto()}" onerror="this.onerror=null;this.src='${ctxStatic}/${defaultUrl}';"/>
				<!-- .replaceFirst('/ctxPath', ctxPath) -->
		</div>
		<div class="pull-left info">
			<p>${user.loginName}</p>
			<a href="javascript:"><i class="fa fa-circle text-success"></i> ${i18n("在线")}</a>
		</div>
	</div>
	<ul class="sidebar-menu" data-widget="tree">
	
		<% 
			//var p = {parentCode: '0', firstMenu: true};
			//var p = menu.tree();
			//print(p.html);
			var html = treeInit();
			print(html);
		%>
	</ul>
</section>