<% layout('/layout/default.html', {title: '发起任务', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-cubes"></i> 发起流程
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="查询" ><i class="fa fa-filter"></i> 查询</a>
			</div>
		</div>
		<div class="box-body">
			<form id="searchForm" action="${ctx}/act/task/processDataList" method="post" class="form-inline hide" >
				<div class="form-group">
					<label class="control-label">全部分类：</label>
					<div class="control-inline">
						<#form:select path="category" name="label" data="getDictList:act_category" class="form-control required">
						</#form:select>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">查询</button>
					<button type="reset" class="btn btn-default btn-sm">重置</button>
				</div>
			</form>			
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
//初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'流程分类', name:'categoryName', index:'categoryName', width:90, align:"center"},
		{header:'流程标识', name:'key', index:'key', width:90, align:"center"},
		{header:'流程名称', name:'name', index:'name', width:100, align:"center" },
		//{header:'流程资源', name:'proceDefResName', index:'proceDefResName', width:100, align:"center" },
		{header:'流程图', name:'diagramResourceName', index:'', width:100, align:"center",formatter: function(val, obj, row, act){
			return '<a href="${ctx}/act/process/resource/read?procDefId='+row.id+'&resType=image"  class="btnList" title="流程图查看" data-type="diagram" >'+val+'</a>';
			
		} },
		{header:'流程版本', name:'version', index:'version', width:80, align:"center",formatter: function(val, obj, row, act){
			return 'V:'+val;
		} },
		{header:'更新时间', name:'deploymentTime', index:'', width:120, align:"center",formatter:"date",formatoptions:{srcformat: 'Y-m-d H:i:s',newformat: 'Y-m-d H:i:s'} },
		{header:'操作', name:'actions', width:100, sortable:false, title:false, align:"center",formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('act:process:edit')){ %>
				actions.push('<a href="/act/task/form?procDefId='+row.id+'" class="btnList" title="发起流程" >发起流程</a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>