<% layout('/layout/default.html', {title: '流程分类', libs: ['validate']}){ %>
<div class="main-content">
	<div class="box box-main">
		<form id="formID" class ="form-horizontal" action="">
			<div class="box-body" style="height: 200px">
				<div class="row">
					<div class="form-group">
						<label class="control-label col-xs-3" title="流程分类："> 流程分类： </label>
						<div class="col-xs-8">
							<#form:select path="category" name="label"
								data="getDictList:act_category" class="form-control required">
							</#form:select>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<% } %>
		

