<% layout('/layout/default.html', {title: '区域管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-sitemap"></i> 区域管理
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default"  id="btnRefreshTree" title="刷新"><i class="fa fa-refresh"></i> 刷新</a>
				<a href="#" class="btn btn-default" id="btnExpandTreeNode" title="展开一级"><i class="fa fa-angle-double-down"></i> 展开</a>
				<a href="#" class="btn btn-default" id="btnCollapseTreeNode" title="折叠全部"><i class="fa fa-angle-double-up"></i> 折叠</a>
				<% if(hasPermi('sys:area:edit')){ %>
					<a href="/sys/area/form" class="btn btn-default btnTool" title="添加根区域"><i class="fa fa-plus"></i> 添加根区域</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<form id="searchForm" action="${ctx}/sys/area/listData" class="form-inline hide">
				<button type="submit" class="btn btn-primary btn-sm">查询</button>
				<button type="reset" class="btn btn-default btn-sm">重置</button>
			</form>
			<table id="dataGrid"></table>
		</div>
	</div>
</div>
<% } %>
<script>
//初始化DataGrid对象
	$('#dataGrid').dataGrid({
		searchForm: $("#searchForm"),
		columnModel: [
			{header:'区域名称', name:'name', index:'a.name', width:150, align:"left"},
			{header:'区域编码', name:'code', index:'a.code', width:80, align:"center"},
			{header:'区域类型', name:'type', index:'a.type', width:80, align:"center", formatter: function(val, obj, row, act){
                    return js.transDictLabel(${@DictUtils.getDictListJson('sys_area_type')}, val, '');
			}},
			{header:'排序', name:'sort', index:'a.sort', width:80, align:"center"},
			{header:'备注', name:'remarks', index:'a.remarks', width:80, align:"center"},
			{header:'操作', name:'actions', width:70,align:"center", sortable:false, title:false, formatter: function(val, obj, row, act){
				var actions = [];
				<% if(hasPermi('sys:area:edit')){ %>
					actions.push('<a href="/sys/area/form?id='+row.id+'" class="btnList" title="修改区域信息"><i class="fa fa-pencil"></i></a>');
					actions.push('<a href="${ctx}/sys/area/delete?id='+row.id+'" class="btnList" title="删除区域" data-confirm="要删除该区域及所有子区域项吗？"><i class="fa fa-trash-o"></i></a>');
					actions.push('<a href="/sys/area/form?parentId='+row.id+'" class="btnList" title="添加下级区域"><i class="fa fa-plus-square"></i></a>');
				<% } %>
				return actions.join('');
			}}
		],
		treeGrid: true,
		defaultExpandLevel: 0,
		expandNodeClearPostData: 'name', 
		treeIcons : {
			plus: "ui-icon-circlesmall-plus",
			minus: "ui-icon-circlesmall-minus",
			leaf : "ui-icon-document"
		},
		// 加载成功后执行事件
		ajaxSuccess: function(data){
			
		}
	});
</script>