<%
// 默认皮肤样式名称：static/adminlte/css/skins目录
var defaultSkinName = @Global.getProperty('sys.index.skinName', 'skin-blue');
// 从cookie里获取样式名，取不到使用默认样式
var skinName = cookie('skinName_'+user.id, false, defaultSkinName);
var bodyClass = 'fixed sidebar-mini ' + skinName;
%>
<% layout('/layout/default.html', {title: '', bodyClass: bodyClass, libs: ['tabPage']}){ %>
<link rel="stylesheet" href="${ctxStatic}/adminLTE/css/skins/${skinName}.css">
<link rel="stylesheet" href="${ctxStatic}/modules/sys/index.css">

<header class="main-header">
	<% include('/modules/sys/sysIndex/topMenu.html'){} %>
</header>
<aside class="main-sidebar">
	<% include('/modules/sys/sysIndex/leftMenu.html'){} %>
</aside>
<div class="content-wrapper">
	<div id="tabpanel"> </div>
</div>

<div id="desktopTabPage" class="hide" data-title="仪表盘" data-url="/desktop"></div>
<script src="${ctxStatic}/jquery-plugin/jquery.slimscroll.js"></script>
<script src="${ctxStatic}/modules/sys/index.js"></script>

<script language="JavaScript">
    //判断当前窗口是否有顶级窗口，如果有就让当前的窗口的地址栏发生变化，
    //这样就可以让登陆窗口显示在整个窗口了

    $(function () {
        if (window.top!=null && window.top.document.URL!=document.URL){
            window.top.location= document.URL;
        }
    });
</script>
<% } %>
