<%
	var p = {
		// 标签参数
		id: id!,					// 元素ID，如果不填写，则与name相同
		path: path!,				// 绑定form上model中属性的值
		data:data!,                 // 默认选中数据
        dictType:dictType!'',
		 
		items: items!([]),			// 列表数据，可接受对象集合，如：List<DictData>
		itemLabel: itemLabel!'',	// 指定列表数据中的什么属性名作为option的标签名
		itemValue: itemValue!''	// 指定列表数据中的什么属性名作为option的value值
	};
	
		
%>
<span class="check-form">
	<%
    if(isNotEmpty(p.dictType)) {
        p.items = @DictUtils.getDictList(p.dictType);
    }
    var i=0;%>
	<% for(val in p.items) {
		i++;
		var name =  @ObjMapper.getObjectFieldValue(val,p.itemLabel);
		var value = @ObjMapper.getObjectFieldValue(val,p.itemValue);
		var flag = inArrayString(value,p.data);
	%>
		<label><input type="checkbox" id="${p.path}${i}" name="${p.path}" class="${p.class}" value="${value}" ${flag==true?'checked="checked"':''}/>${name}</label>
	<%}%>
</span>
