.m0{margin:0!important}

.noscroll{overflow-x:hidden;overflow-y:hidden}

.nav-main>.nav-tabs>li>a:hover{color:#333}
.nav-main>.nav-tabs.pull-right>li:first-of-type{margin-right:8px}

.pagination{margin:8px 0;display:block;font-size:13px}
.pagination>li>a,.pagination>li>span{min-width:37px;text-align:center;padding:6px;border:1px solid #ddd;background:transparent}
.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover{background:#eee;color:#333;border-color:#ddd}
.pagination>.disabled>span,.pagination>.disabled>span:hover,.pagination>.disabled>span:focus,.pagination>.disabled>a,.pagination>.disabled>a:hover,.pagination>.disabled>a:focus{cursor:default!important;color:#ccc}
.pagination .controls{float:left;border:0;padding:7px 0 0 15px;color:#777}
.pagination .controls input{border:0;width:22px;padding:0;margin:-3px 0 0 0;text-align:center;font-size:13px;background:transparent;box-shadow:none}

.form-horizontal .row{margin:0 55px 0 -15px}@media(max-width:767px){.form-horizontal .row{margin:0}}
.form-unit{font-size:15px;font-style:oblique;color:#6379bb;border-bottom:1px solid #ddd;margin:8px 10px 25px 10px;padding-bottom:5px}
.form-group .control-label{font-weight:normal;padding-top:3px;text-align:right;padding-right:0}
.form-group .control-label .required{color:#e02222}
.form-group .control-label i{vertical-align:middle}
.form-group .control-text{padding-top:4px}
.form-group.has-error .input-group-btn .btn{border-color:#dd4b39}label.has-error{top:auto;left:15px;padding:0 5px 1px;font-size:11px;color:#fff!important;max-width:none;position:absolute;background:#ff6969;z-index:1000;border-radius:5px;-webkit-box-shadow:0 5px 10px #dedede;box-shadow:0 5px 10px #dedede}label.has-error:after{border-color:rgba(0,0,0,0) rgba(0,0,0,0) #ff6969;border-style:solid;border-width:6px;content:"";height:0;left:15px;position:absolute;top:-11px}
.form-error{float:right;padding-top:5px;color:#a94442;display:none}
.form-control{padding:3px 6px 4px;height:30px;font-size:14px}select.form-control{padding:0 6px}

.form-inline{padding-left:5px;margin:3px}
.form-inline .form-group{display:inline-block;margin-bottom:10px;vertical-align:middle;margin-right:6px}
.form-inline .control-label{text-align:right;font-size:13px;vertical-align:baseline}
.form-inline .control-inline{display:inline-block;width:auto;vertical-align:middle}
.form-inline .form-control{display:inline-block;vertical-align:middle}
.form-inline .btn{margin-right:3px}
.form-inline .input-group-btn .btn{margin-right:0}
.input-group-btn .btn{height:30px;padding:3px 10px 4px 10px}
.input-group-btn .btn.btn-sm{padding:4px 3px 3px 3px}

.main-content{margin:0;padding:0;border-radius:0;maring-right:-2px}
.box-main{margin:0;border:0;padding-top:2px;border-radius:0;box-shadow:none}
.box-main>.box-header{border-bottom:1px solid #eee;padding:12px 10px 2px 15px}
.box-main>.box-header .box-title{font-size:16px;margin-bottom:13px;float:left}
.box-main>.box-header .box-title .fa{font-size:14px;padding-right:3px;margin-top:-2px}
.box-main>.box-header .box-tools{position:relative;top:-5px;right:0}
.box-main>.box-header .box-tools .btn{padding:3px 10px 5px 10px;font-size:14px;margin-bottom:2px}
.box-main>.box-header .box-tools .btn-box-tool{padding:4px 2px}
.box-header-in{border-bottom:1px solid #eee;padding:12px 10px 2px 5px}
.box-header-in .box-title{font-size:16px;margin-bottom:13px;margin-left:13px;margin-top:13px;float:left}
.box-header-in .box-title .fa{font-size:14px;padding-right:3px;margin-top:-2px}

.box-main form>.box-footer,.nav-main form>.box-footer{background:#fafafa}
.box-main form>.box-footer .row,.nav-main form>.box-footer .row{margin:5px 0 5px -25px}
